<div class="form-container">
	<%= form_for :user, html: {class: 'login-form'} do |f| %>
		<div>
			<%= label_tag :first_name %>
			<%= f.text_field :first_name %>
		</div>

		<div>	
			<%= label_tag :last_name %>
			<%= f.text_field :last_name %>
		</div>

		<div>
			<%= label_tag :role %>
			<%= f.text_field :role %>
		</div>
	 
		<div>
			<%= label_tag :email %>
			<%= f.text_field :email %>
		</div>

		<div>
		  <%= label_tag "Password" %>
		  <%= f.password_field :password_hash %>
	  </div>

		<div>
			<%= label_tag :cohort %>
			<%= f.text_field :cohort %>
		</div>

		<div>
		  <%= f.submit 'Register' %>
		</div>
	<% end %>
</div>


<div>
	<%= link_to 'Home', root_path %>
</div>