<h1>Welcome, <%= current_user.first_name %>! </h1>

<div>
  <%= link_to "Add Future Sessions", :new_counselor_session %>
</div>


<h2>Today's Appointments</h2>
<h2> <%= formatted_date(today) %> </h2>
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Availability</th>
    <th>Email</th>
    <th>Open/Close</th>
    <!-- <th>Student</th> -->
  </tr>
  <% day_sessions(today).sort_by.each do |session| %>
    <tr>
      <td><%= session.start_time %></td>
      <td><%= session.end_time %></td>
      <td>
        <% if session.available %>
          Open
        <% elsif session.student != nil %>
          <%= session.student.first_name %>, <%= session.student.last_name %>
        <% else %>
          Closed
        <% end %>
      </td>
      <td>
        <% if session.student != nil %>
          <%= session.student.email %>
        <% end %>
      </td>
      <td>
        <!-- If the session is open, button to close it -->
        <% if session.available %>
          <%= form_for [:counselor, session], url: counselor_session_path(session), method: :put do |f| %>
            <%= f.submit "Close" %>
          <% end %>

        <% elsif !session.available && session.appointment %>
        <!-- If the session is closed AND booked, button to open it -->
          <%= form_for [:counselor, session], url: counselor_session_path(session), method: :put, data: { confirm: "Are you sure you want to cancel this student's appointment and open the session?" } do |f| %>
            <%= f.submit "Open" %>
          <% end %>

        <% else %>
        <!-- If session is closed but no appt., button to open -->
          <%= form_for [:counselor, session], url: counselor_session_path(session), method: :put do |f| %>
            <%= f.submit "Open" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<!--  NEED TO ADD: Upcoming Appointments -->
<h2>Upcoming Appointments</h2>
<% future_sessions.each do |date| %>
  <div><a href='/counselor/sessions/<%= date %>'><%=formatted_date(date)%></a></div>
<% end %>

<br>
<br>

<div>
  <%= link_to 'Logout', logout_path %>
</div>
