<h1>Welcome, <%= current_user.first_name %>! </h1>

<div>
  <%= link_to "Add Future Sessions", :new_counselor_session %>
</div>


<h2>Today's Appointments</h2>
<h2> <%= formatted_date(today) %> </h2>
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Availability</th>
    <th>Email</th>
    <!-- <th>Student</th> -->
  </tr>
  <% day_sessions(today).sort_by.each do |session| %>
    <tr>
      <td><%= session.start_time %></td>
      <td><%= session.end_time %></td>
      <td>
        <% if session.available %>
          Open
        <% elsif session.student != nil %>
          <%= session.student.first_name %>, <%= session.student.last_name %>
        <% else %>
          Closed
        <% end %>
      </td>
      <td>
        <% if session.student != nil %>
          <%= session.student.email %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!--  NEED TO ADD: Upcoming Appointments -->
<h2>Upcoming Appointments</h2>
<% future_sessions.each do |date| %>
  <div><a href='/counselor/sessions/<%= date %>'><%=formatted_date(date)%></a></div>
<% end %>

<br>
<br>

<div>
  <%= link_to 'Logout', logout_path %>
</div>
