<h1>Welcome, <%= current_user.first_name %>! </h1>

<div>
  <%= link_to "Add Future Sessions", :new_counselor_session %>
</div>


<h2>Today's Appointments</h2>
<h2> <%= formatted_date(today) %> </h2>
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Available?</th>
    <th>Student</th>
  </tr>
  <% day_sessions(today).sort_by.each do |session| %>
    <tr>
      <td><%= session.start_time %></td>
      <td><%= session.end_time %></td>
      <td>
        <% if session.available %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td>
        <% if !(session.available) %>
          <%= User.find(Appointment.find_by_session_id(session.id).student_id).first_name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!--  NEED TO ADD: Upcoming Appointments -->
<h2>Upcoming Appointments</h2>
<% future_sessions.each do |date| %>
  <div><a href='/counselor/sessions/<%= date %>'><%=formatted_date(date)%></a></div>
<% end %>

<br>
<br>

<div>
  <%= link_to 'Logout', logout_path %>
</div>
