<h1>Welcome, <%= current_user.first_name %>! </h1>

<h2>Today's Appointments</h2>
<h2> <%= today %> </h2>
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Available?</th>
    <th>Student</th>
  </tr>
  <% today_sessions.sort_by.each do |sesh| %>
    <tr>
      <td><%= sesh.start_time %></td>
      <td><%= sesh.end_time %></td>
      <td><%= sesh.available %></td>
      <td>
        <% if !(sesh.available) %>
          <%= User.find(Appointment.find_by_session_id(sesh.id).student_id).first_name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!--  NEED TO ADD: Upcoming Appointments -->
<h2>Upcoming Appointments</h2>
<% future_days.each do |date| %>
  <div><a href='/counselor/sessions/<%= date %>'><%=date%></a></div>
<% end %>

<%#= link_to "A Certain Date", counselor_session_path %>

<div>
  <%= link_to "Add Future Sessions", new_counselor_session_path %>
</div>
