<%= link_to "Back to Home", counselor_sessions_path %>

<h1>Add Upcoming Sessions</h1>

<h3>Please enter a date in the following format YYYY/MM/DD to create an entire day of sessions. </h3>
<%= form_for [:counselor, @new_sesh] do |f| %>
	<%= f.label :date %>
  <%= f.text_field :date %>
  <br>
 
   <%= f.submit "Create Day!" %>
<% end %>

<br>

<%= link_to "Back to Home", counselor_sessions_path %>
