<%= link_to "Back to Home", counselor_sessions_path %>

<h1 text-align: center ><%= formatted_date(text_to_date(@url_date)) %></h1>

<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Available?</th>
    <th>Student</th>
  </tr>
  <% @todays_sessions.each do |session| %>
    <tr>
      <td><%= session.start_time %></td>
      <td><%= session.end_time %></td>
      <td><% if session.available %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td>
        <% if !(session.available) %>
          <%= User.find(Appointment.find_by_session_id(session.id).student_id).first_name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
