<%= link_to "Back to Home", counselor_sessions_path %>

<h1 text-align: center ><%= formatted_date(text_to_date(@url_date)) %></h1>


<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Availability</th>
    <th>Email</th>
    <!-- <th>Student</th> -->
  </tr>
  <% @todays_sessions.each do |session| %>
    <tr>
      <td><%= session.start_time %></td>
      <td><%= session.end_time %></td>
      <td>
        <% if session.available %>
          Open
        <% elsif session.student != nil %>
          <%= session.student.first_name %>, <%= session.student.last_name %>
        <% else %>
          Closed
        <% end %>
      </td>
      <td>
        <% if session.student != nil %>
          <%= session.student.email %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
