<h1>Book an Appointment</h1>

<div>
  <%= link_to 'Back to your Homepage', appointments_path %>
</div>

  <% future_open_dates.each do |date| %>

  <div>




  <table>
    <caption><h2><%= formatted_date(date) %></h2></caption>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Counselor</th>
    <th>Sign-up</th>
  </tr>

  <% open_sessions_finder(date).each do |session| %>



  <tr>
    <td><%= session.start_time %></td>
    <td><%= session.end_time%></td>
    <td><%= session.counselor.first_name%></td>
    <td><%= form_for :appointment, url: {action: "create"} do |f| %>
            <%= f.hidden_field :session_id, :value => session.id %>
            <%= f.submit "Book!" %>
        <% end %>
    </td>
  </tr>

  <%end%>
</div>
<br>

<%end%>






</table>
