<h1>Book an Appointment</h1>

<div>
  <%= link_to 'Back to your Homepage', appointments_path %>
</div>

<table>
  <tr>
    <th>Month</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Counselor</th>
    <th>Available?</th>
  </tr>
  <% @all_sessions.each do |session| %>
    <% if session.available %>
      <tr>
        <td><%= session.date.strftime('%B') %></td>
        <td><%= session.date.day %></td>
        <td><%= session.start_time %></td>
        <td><%= session.end_time %></td>
        <td><%= User.find(session.counselor_id).first_name %></td>
        <td>
          <%= form_for :appointment, url: {action: "create"} do |f| %>
            <%= f.hidden_field :session_id, :value => session.id %>
            <%= f.submit "Book!" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
